@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300);

a.index {
  color: #FFFFFF;
  text-decoration: none;
}

html {
	height: 100%;
	overflow: hidden;
}

body, ul, li {
	margin: 0;
	padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  background-color: #373948;
  padding: 0px 0px 0px 30px;
}

header h1 {
  float: left;
  margin: 10px 0px;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

header nav ul {
  height: 70px;
  float: right;
}

header nav ul li {
  height: 70px;
  display: inline-block;
}

header nav ul li a {
  height: 30px;
  display: block;
  padding: 17px 20px;
  color: white;
  font-size: 2.2em;
  text-decoration: none;
  border-top: 3px solid #373948;
  border-bottom: 3px solid #373948;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  -o-transition: color 1s ease;
  transition: color 1s ease;
}

header nav ul li a:hover{
  color: #373948;
}

header nav ul li a.active{
  height: 33px;
  border-bottom: none;
}

header nav ul li a.add-test, section#add-test { background-color: #88e61c; }
header nav ul li a.add-result, section#add-result { background-color: #7700ff; }
header nav ul li a.methodist-settings, section#methodist-settings { background-color: #ffc445; }
header nav ul li a.logout { background-color: #f54a4a; }

a.logout {
  margin: 0px 0px 0px 4px;
}

section {
  flex: 1;
  overflow-y: auto;
  width: 100%;
  display: flex;
}

div#content {
	box-shadow: 0 0 50px black;
	margin: 30px 80px;
	padding: 10px 20px;
	background-color: white;
	display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
}

section h2 {
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 3em;
  margin: 0px;
}

section p {
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1em; 
}

.nav-menu {
  margin-right: 3px;
}